include ./../mixins/_icon.pug

header.header
	.header__block.socials
		each icon in jsonData.socials
			+icon(icon.name, icon.link)
	.header__block
		a(href="index.html").header__link Hipsum Blog
	.header__block
		img(src="img/icons/search.svg" , alt="Instagramm").icon.search
		a(href="index.html").btn-link subscribe