/* Footer */

.footer {
	width: 1200px;
	padding: 30px 100px;
	background-color: rgb(196, 196, 196);
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer__block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.footer__link {
	margin: 10px 0;
	font-size: 16px;
	color: #808080;
	font-weight: 600;
}