/* Footer */

.footer {
	background-color: $bg-footer;
	width: $footer-width;
	padding: 30px 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.footer__wrapper {
	width: $footer__wrapper-width;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer__block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.footer__link {
	margin: 10px 0;
	color: $color-footer;
	font-size: $fs-footer;
}