/* Header */

.header {
	width: $header-width;
	padding: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-family: $font-base;
}

.header__link {
	margin: 0 10px;
	font-family: $font-header;
	color: $color-header;
	font-size: $fs-header;
}

.header__block {
	justify-content: space-between;
	align-items: center;
}

.search {
	margin: 0 50px 0 0;
}