/* Instagram */

.instagram__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.instagram__img__wrapper {
	width: $instagram__img-width;
	margin-bottom: 15px;
}

.instagram__img {
	width: 100%;
	height: auto;
}