/* Post */

.post__wrapper {
	margin: 30px 0;
	color: $color-post;
	font-weight: $fw-post;
	margin-bottom: 30px;
	border-bottom: 1px solid $color-post-end;
}

.post__title {
	font: $font-post__title;
	font-size: $fs-post__title;
	text-align: center;
}

.post__date {
	margin: 20px 0;
	color: $color-post__date;
	font-size: $fs-post__date;
	font-weight: $fw-post__date;
	text-align: center;
	text-transform: uppercase;
}

.post__img {
	width: 100%;
	margin: 10px 0;
}

.post__content {
	margin: 10px 0;
	font-size: $fs-post__content;
}

.post__footer {
	margin: 20px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: $fs-post__footer;
	text-align: center;
	text-transform: uppercase;
}