/* Tools */

a {
	text-decoration: none;
}

.icon {
	margin: 0 10px;
	height: 20px;
	width: auto;
}

.btn-link {
	background-color: $bg-btn;
	padding: 10px 30px;
	border-radius: 10px;
	color: $color-btn;
	font-size: $fs-btn;
	text-decoration: none;
	text-transform: uppercase;
}