mixin post-sidebar(post)
	.post-sidebar__wrapper
		img(src="img/post-sidebar/" + post.img_sidebar , alt= post.img_title).post-sidebar__img
		.post-sidebar__title= post.title
		.post-sidebar__date= post.date