extends ./../layouts/main.pug
include ./../mixins/_post.pug

block variables
	- const title = "Главная";
	
block content
	each post in jsonData.posts
		+post(post.title, post.date, post.img_title, post.img, post.content)