extends ./../layouts/main.pug
include ./../mixins/_post.pug
include ./../mixins/_post-sidebar.pug
include ./../mixins/_instagram.pug

block variables
	- const title = "Главная";
	
block content
	each post in jsonData.posts
		+post(post)

block sidebar
	.recent-posts
		a(href="index.html").post-sidebar__btn Recent posts
		each post in jsonData.posts
			+post-sidebar(post)
	.popular-posts
		a(href="index.html").post-sidebar__btn Popular posts
		each post in jsonData.posts
			+post-sidebar(post)
	.instagram
		a(href="index.html").post-sidebar__btn Instagram
		.instagram__wrapper
			each icon in jsonData.instagram
				+instagram(icon)