extends ./../layouts/main.pug

include ./../mixins/_post.pug
include ./../mixins/_post-widget.pug
include ./../mixins/_instagram.pug

block variables
	- const title = "Главная";
	
block content
	each post in jsonData.posts
		+post(post)

block sidebar
	.recent-posts
		+post-widget(jsonData.posts, "Recent posts")
	.popular-posts
		+post-widget(jsonData.posts, "Popular posts")
	.instagram
		a(href="index.html").post-sidebar__btn Instagram
		.instagram__wrapper
			each icon in jsonData.instagram
				+instagram(icon)