block variables

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Exo+2:400,600,700,800|Montserrat:400,600,700,800|Playfair+Display:400,700&display=swap")
		title #{title}
	body

		include ./../sections/_header.pug

		.content__wrapper
			.content
				block content
			.sidebar
				block sidebar

		include ./../sections/_footer.pug

		script(src="js/main.js")
